:root{
    --margin-top: 2%
    }

    .main {
        margin-top: 30px; /* Add a top margin to avoid content overlay */
      }


#menu{
    white-space: nowrap;
}

#container
    {    
    /* padding: var(--margin-top) var(--margin-top) 0 var(--margin-top); */
    /* background-color: #FAF7EB; */
    background-size: cover;
    width: 100%;
    height: 100vh;
    display:flex; 
    flex-direction: column;
    align-items: center;
    }

#mainContent{
    /* background-color: #FAF7EB; */
    /* background-size: cover; */
    width: 70%;
    /* height: 100vh; */
    flex-direction: column;
    align-items: center;
    /* padding-top: 170px; */
}





/*#region HERO SECTOIN*//**************************Hero Section ***************************/

#header
    {
        width: 100%;
        height: 600px;
        min-height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }



.responsiveImages{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.portfolio{
    width: 18vw;
    height: 18vw;
    object-fit: cover;
    margin: 2%;
}

.flexslider .slides img {
    /* max-height: 200px; maximum height for all slides */
    width: auto; /*proper aspect ratio of images*/
    max-width: 100%; /*maximum width for all slides*/
    margin: 0 auto; /*centering images in the container*/
}

#imgRow2, #imgRow1{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* border: solid red; */
}

#mainNav
    {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 10;
    overflow: hidden;
    }

#menu{
    width:100%;
    background-color: rgb(233, 231, 231);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 60px;
    align-items: center;

}



.slash
{
    display: inline-block;
    margin: 0 20px 0 20px;
    color: #fc589f;
}


#mainNav a{
    color: #202020;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1em;
    letter-spacing: 0.2em;
    /* border: solid 1px green; */
}

#mainNav a:hover{
    color: #7f8181;
}

@font-face {
    font-family: 'flexslider-icon';
    /*THIS-->*/
    src: url('/fonts/flexslider-icon.eot');
    /**MIGHT HAVE TO BE THIS- ../ TO GO OUT OF THE CSS FOLDER - THEN INTO A FONTS FOLDER*/
    src: url('/fonts/flexslider-icon.eot');
    src: url('/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('/fonts/flexslider-icon.woff') format('woff'), url('/fonts/flexslider-icon.ttf') format('truetype'), url('/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.starAnimation
{
    animation: blink 700ms infinite ease-out;
    animation-direction: alternate;
    /* animation-delay: 200ms; */
}

    @keyframes blink {
        0% {
        opacity: .2;
        }
        100% {
        opacity: 1;
        }
    }

.fast{
    animation-duration: 300ms;
}

#heroContainer
    {
    /* background: url("/images/main-banner-bg@2x.jpg") center; */
    background-color: #ffde1d;
    background: -webkit-radial-gradient(#ffde1d,#ffd001);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
    position: relative;
    }

.logoContainer{
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* border: dashed red; */
    /* position: absolute; */
    /* top: 10%; */
    /* justify-content: center;
    align-items: center; */
    position: absolute;
    
    /* top: 0;
    left: 0; */
    background-color: red;
    z-index: 1;
}


.logoImage{
    position: absolute;
    background-color: green;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}


.svg-container
{
    position: absolute;
    width: 35%;
    height: 35%;
    z-index: 20;
    /* background-color: grey; */
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.dotted-circle {
    fill: none;
    stroke: #faf7eb;
    stroke-linecap: round;
    stroke-width: 2.5px;
    stroke-dasharray: 0 13.5;
    animation: small-spin 60s linear infinite;
    /* height: 87%; */
    width: 100%;
    height: 100%;
    /* position: relative; */
    display: block;
    margin: 0 auto;
    z-index: 21;


    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
 
/* .logo{
    position: absolute;
     top: 50%;
    left: -50%; 
    z-index: 5;
    width: auto;
    height: 90%;
    background-color: grey;
}  */



.logo img{
    /* width: auto;
    height: 100%; */
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
     */
    /* transform: translate(-50%, -50%);  */

    /* animation-name: example; */
    /* animation: example 400ms infinite alternate; */
}

.logo .logoT{
    /* background-color: GREY; */
    Z-INDEX: 14;
    width: 70%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 48%;

}

@keyframes example {
    from {background-color: #EBDCA4;}
    to {background-color: rgb(240, 189, 4);}
  }




@keyframes small-spin {
    0% {
      transform: rotate(0deg); }
  
    100% {
      transform: rotate(-360deg); } }
      


.logo .outer-logo-circle {fill: #dbbd7f; }
.logo .owl-face {fill: #faf7eb; }
.logo .owl-face-outline { fill: #214261; }
  


.big-circle
{
    position: absolute;
    width: 70%;   
}


.big-circle img {
        animation-name: big-spin;
        animation-duration: 120s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        width:100%;
        height:auto;    
    }    

    @keyframes big-spin {
        0% {
          transform: rotate(0deg); }
      
        100% {
          transform: rotate(360deg); } }


/*#endregion HERO */


/*#region ABOUT ME*//**************************ABOUT ME SECTION ***************************/


#aboutMeSection
    {
    flex-direction: row;
    width: 100%;
    height: auto;
    position: relative;
    }
/*#endregion ABOUT ME*/


/*#region PORTFOLIO*//**************************Responsive Images SECTION***************************/
.responsiveImages{
    background-image: url(/images/background.jpg);
    background-size: cover;
}

/*#endregion PORTFOLIO*/


/*#VIDEO EDUCATION*//**************************VIDEO SECTION***************************/

.myVideo
    {
        width:100%;
        height: auto;

    }
/*#endregion RegionName*/


/*#region EXPERIENCE*//**************************MAP SECTION***************************/

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*#region CONTACT*//**************************CONTACT SECTION***************************/

/* 
#contactSection{

}

#skillsSection{

}

.skills_left{
background-color: #1D3E5F;
margin-top: var(--margin-top);
}

.skills_right{
background-color: #DBBD7F;
margin-top: var(--margin-top);
} */



/*#region FOOTER*//**************************FOOTER SECTION***************************/

#mainFooter{
    margin-top: var(--margin-top);
    background-color: #204161;
}
/*#endregion FOOTER*/

.footerSection{
}
/*#region REUSABLE*//**************************REUSABLE CSS***************************/

.sectionMarginPadding
{
    padding-top: 5%;
    height: 900px;
}

h2{
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    color:#2e2e2e;
    padding-bottom: 2em;
}

.content{
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    color:#2e2e2e;
    line-height: 1.7em;
    text-align: justify;
    padding: 4%;
}

.section{
    padding-top: 10%;
    color: red;
}

p{
    margin-bottom: 1em;
}

.columns
    {
    display: flex;
    flex-direction: row;
    }
  
.columnLeft
    {
        display: flex;
        flex-direction: row;
    flex: 50%;
    padding: 0 2.5% 0 0;
    }

    .columnRight{
        display: flex;
        flex-direction: row;
        flex: 50%;
        padding: 0 0 0 2.5%;
    }

.margin-left-section{
    margin: var(--margin-top) calc(var(--margin-top)/2) 0% 0;
}

.margin-right-section{
    margin: var(--margin-top) 0% 0% calc(var(--margin-top)/2);
}
/*#endregion REUSABLE*/